# Pandas Practice
Coursera: Introduction to Data Science in Python
### Currencies around the world
Data provided by Morningstar for Currency and Coinbase for Cryptocurrency via Google 
>Period evaluated: June 15th 2020 to July 14th 2020

In [204]:
import numpy as np
import pandas as pd
import statistics

### Dictionary with the data
> Each keyword leads to a list

In [205]:
data ={
       'Date': 
       ['15 june 2020', '16 june 2020', '17 june 2020', '18 june 2020',
       '19 june 2020', '20 june 2020', '21 june 2020', '22 june 2020',
       '23 june 2020', '24 june 2020', '25 june 2020', '26 june 2020',
       '27 june 2020', '28 june 2020', '29 june 2020', '30 june 2020',
       '01 july 2020', '02 july 2020', '03 july 2020', '04 july 2020',
       '05 july 2020', '06 july 2020', '07 july 2020', '08 july 2020',
       '09 july 2020', '10 july 2020', '11 july 2020', '12 july 2020',
       '13 july 2020', '14 july 2020'],
       'American Dollar': 
        [5.16, 5.25, 5.23,
         5.38, 5.31, 5.31,
         5.31, 5.25, 5.15, 
         5.35, 5.36, 5.48,
         5.48, 5.48, 5.40,
         5.46, 5.32, 5.36,
         5.31, 5.31, 5.31,
         5.36, 5.38, 5.34,
         5.34, 5.33, 5.34,
         5.33, 5.40, 5.37], 
       'Euro':
        [5.84, 5.91, 5.88,
         6.03, 5.94, 5.94,
         5.94, 5.93, 5.83,
         6.02, 6.02, 6.15,
         6.15, 6.15, 6.08,
         6.14, 5.98, 6.02,
         5.98, 5.98, 5.98,
         6.06, 6.07, 6.06,
         6.03, 6.01, 6.02,
         6.03, 6.13, 6.12],
       'British Pound':
       [6.51, 6.60, 6.56,
        6.68, 6.56, 6.56, 
        6.56, 6.57, 6.45, 
        6.64, 6.66, 6.77, 
        6.77, 6.77, 6.65, 
        6.77, 6.63, 6.68, 
        6.63, 6.63, 6.63, 
        6.69, 6.75, 6.74, 
        6.73, 6.72, 6.72, 
        6.72, 6.78, 6.75],
        'Argentine Peso':
       [0.074, 0.075, 0.075,
       0.077, 0.076, 0.076,
       0.076, 0.075, 0.074,
       0.076, 0.076, 0.078,
       0.078, 0.078, 0.077,
       0.078, 0.075, 0.076,
       0.075, 0.075, 0.075,
       0.076, 0.076, 0.075,
       0.075, 0.075, 0.075,
       0.075, 0.076, 0.075],
       'Indian Rupee':
       [14.76, 14.62, 14.64,
       14.20, 14.36, 14.36,
       14.36, 14.43, 14.67,
       14.21, 14.09, 13.80,
       13.80, 13.79, 14.01,
       13.87, 14.19, 13.97,
       14.06, 14.06, 14.06,
       13.93, 13.92, 14.02,
       14.07, 14.11, 14.09,
       14.11, 13.97, 14.08],
       'Chinese Yuan':
       [1.38, 1.35, 1.35,
       1.32, 1.33, 1.33,
       1.33, 1.35, 1.37,
       1.32, 1.32, 1.29,
       1.29, 1.29, 1.31,
       1.29, 1.33, 1.32,
       1.33, 1.33, 1.33,
       1.31, 1.30, 1.31,
       1.31, 1.31, 1.31,
       1.31, 1.30, 1.30],
       'Japanese Yen':
       [20.84, 20.48, 20.44,
       19.90, 20.12, 20.12,
       20.11, 20.35, 20.66,
       20.02, 19.99, 19.54,
       19.54, 19.54, 19.91,
       19.76, 20.19, 20.06,
       20.22, 20.22, 20.24,
       20.05, 20.00, 20.08,
       20.08, 20.08, 20.08,
       20.08, 19.85, 19.98]
       
       }

### Transforming the dictionary in a Data Frame using Pandas

In [206]:
df = pd.DataFrame(data)

### Checking out if the Data Frame is set up

In [207]:
df.head()

,Date,American Dollar,Euro,British Pound,Argentine Peso,Indian Rupee,Chinese Yuan,Japanese Yen
0,15 june 2020,5.16,5.84,6.51,0.074,14.76,1.38,20.84
1,16 june 2020,5.25,5.91,6.60,0.075,14.62,1.35,20.48
2,17 june 2020,5.23,5.88,6.56,0.075,14.64,1.35,20.44
3,18 june 2020,5.38,6.03,6.68,0.077,14.20,1.32,19.90
4,19 june 2020,5.31,5.94,6.56,0.076,14.36,1.33,20.12

### Using a standard date format

In [208]:
df.Date = pd.to_datetime(df.Date)

In [209]:
df.head()

,Date,American Dollar,Euro,British Pound,Argentine Peso,Indian Rupee,Chinese Yuan,Japanese Yen
0,2020-06-15,5.16,5.84,6.51,0.074,14.76,1.38,20.84
1,2020-06-16,5.25,5.91,6.60,0.075,14.62,1.35,20.48
2,2020-06-17,5.23,5.88,6.56,0.075,14.64,1.35,20.44
3,2020-06-18,5.38,6.03,6.68,0.077,14.20,1.32,19.90
4,2020-06-19,5.31,5.94,6.56,0.076,14.36,1.33,20.12

### Creating a function that returns a dataframe with the max/min value, the variation, and the the principal statistical values for the period in analysis

ps.: it uses Statistics Module

In [216]:
def currencyVariation(df):   
    
    currencies = pd.Series(df.columns[1:], name = 'Currency')
    maximum = pd.Series([df[currency].max() for currency in df.columns[1:]], name = 'Max')
    minimum = pd.Series([df[currency].min() for currency in df.columns[1:]], name = 'Min')
    
    variation = pd.Series([i-j for i,j in zip(maximum,minimum)], name = 'Variation')
    sDeviation = pd.Series([statistics.stdev(df[currency]) for currency in df.columns[1:]], name = "Standard Deviation")
    Mean = pd.Series([statistics.mean(df[currency]) for currency in df.columns[1:]], name = "Mean")
    Median = pd.Series([statistics.median(df[currency]) for currency in df.columns[1:]], name = "Median")
    #Mode = pd.Series([statistics.mode(df[currency]) for currency in df.columns[1:]], name = "Mode")
    Variance = pd.Series([statistics.variance(df[currency]) for currency in df.columns[1:]], name = "Variance")

    variation_df = pd.concat([currencies, maximum, minimum, variation, sDeviation, Variance, Mean, Median], axis = 1)
    
    return variation_df

currencyVariation(df)

,Currency,Max,Min,Variation,Standard Deviation,Variance,Mean,Median
0,American Dollar,5.480,5.150,0.330,0.080633,0.006502,5.338667,5.3400
1,Euro,6.150,5.830,0.320,0.089002,0.007921,6.014000,6.0200
2,British Pound,6.780,6.450,0.330,0.088080,0.007758,6.662667,6.6700
3,Argentine Peso,0.078,0.074,0.004,0.001135,0.000001,0.075767,0.0755
4,Indian Rupee,14.760,13.790,0.970,0.264125,0.069762,14.153667,14.0850
5,Chinese Yuan,1.380,1.290,0.090,0.022733,0.000517,1.320667,1.3200
6,Japanese Yen,20.840,19.540,1.300,0.292300,0.085439,20.084333,20.0800